{% include 'base.html' %}
{% block content %}
     <section class="search-section mt-3 container d-flex my-2 justify-content-between">
      <div class="w-75 ">
          <form role="search" action="{% url 'search_results' %}">

            <input
              id="searchBar"
              class=""
              type="text"
              placeholder="Search Category"
              name="category"
            />
            <button id="btnSearch" class="btn-search" type="submit"
              ><i class="fa fa-search text-white"></i
            ></button>
          </form>
      </div>
      <div class="drop align-items-center justify-content-end">
        <div class="dropdown">
          <ul id="my-dropdown2">
            <li><a href="#">Nairobi</a></li>
            <li><a href="#">Kisumu</a></li>
            <li><a href="https://twitter.com/hashtag/covfefe">Mombasa</a></li>
          </ul>
          <a
            href="#my-dropdown2"
            aria-controls="my-dropdown2"
            role="button"
            data-toggle="dropdown"
            id="my-dropdown2-btn"
          >
            Location
          </a>
          <a
            href="#my-dropdown2-btn"
            aria-controls="my-dropdown2"
            role="button"
            data-toggle="dropdown"
            class="close"
          >
          </a>
        </div>
      </div>
    </section>
    <div class="backbtn container"><a href="{% url 'index' %}" class="nav-link"><i class="fas fa-arrow-left mr-2"></i>Go back</a></div>
   <section class="grid-layout container" id="image-container">
        {% if images %}
            {% for image in images %}

            <div class="grid-itemmain">
                <a class="grid-item " href="{{ image.image_path.url }}" data-fancybox="images"  data-caption="<h3 class='text-bold'>{{image.name}}</h3>  <p> {{image.description}}</p>   <h6> LOCATION: {{image.image_location}} </h6> <button class='butt mt-4'>Get Link</button> ">
                    <img
                      src="{{ image.image_path.url }}"
                      alt=""
                      height="100%"
                      width="100%"
                    />
                </a>

{#                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">#}
{#                    View#}
{#                </button>#}
{#                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#                  <div class="modal-dialog modal-dialog-centered" role="document">#}
{#                    <div class="modal-content">#}
{#                      <div class="modal-header">#}
{#                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                          <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
{#                      </div>#}
{#                      <div class="modal-body">#}
{#                        ...#}
{#                      </div>#}
{#                      <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                        <button type="button" class="btn btn-primary">Save changes</button>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
            </div>


{#                <div class="grid-item span-2">#}
{#                    <img#}
{#                      src="{{ image.image_path.url }}"#}
{#                      alt=""#}
{#                      height="100%"#}
{#                      width="100%"#}
{#                    />#}
{#                </div>#}

            {% endfor %}

        {% else %}
            <div class="col-md-12">
                <p>No images</p>
            </div>
        {% endif %}

    </section>
{% endblock %}